#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q         &kp W      &kp E        &kp R    &kp T      &kp Y       &kp U       &kp I        &kp O    &kp P
&hm LALT A    &kp S      &kp D        &kp F    &kp G      &hm RCMD H  &hm RALT J  &hm RCTRL K  &kp L    &kp BSPC
&hm LSFT Z    &kp X      &hm LCTRL C  &lt 1 V  &lt 2 B    &lt 2 N     &lt 1 M     &kp CMMA     &kp DOT  &hm RSFT FSLH
&hm LCMD SPC  &kp SPACE                                                                        &kp RET  &kp GRAVE
            >;
        };

        left_layer {
            bindings = <
&kp ESC   &none  &none  &kp LG(LS(N4))  &none    &kp N1  &kp N2  &kp N3  &kp MINUS  &kp EQUAL
&none     &none  &none  &none           &none    &kp N4  &kp N5  &kp N6  &kp SEMI   &kp SQT
&kp LSFT  &none  &none  &none           &none    &kp N7  &kp N8  &kp N9  &kp N0     &none
&kp LGUI  &none                                                          &none      &none
            >;
        };

        right_layer {
            bindings = <
&kp TAB    &none     &kp UP    &none      &none    &none     &none     &none  &none  &none
&kp GRAVE  &kp LEFT  &kp DOWN  &kp RIGHT  &none    &kp RCMD  &kp RALT  &none  &none  &kp DEL
&kp LSFT   &none     &none     &none      &none    &none     &none     &none  &none  &none
&none      &none                                                              &none  &kp LALT
            >;
        };
    };
};
