#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W      &kp E  &kp R        &kp T             &kp Y            &kp U        &kp I      &kp O    &kp P
&kp A             &kp S      &kp D  &hm LCTRL F  &hm LEFT_ALT G    &hm RIGHT_ALT H  &hm RCTRL J  &kp K      &kp L    &kp BSPC
&hm LEFT_SHIFT Z  &kp X      &kp C  &lt 1 V      &lt 2 B           &lt 1 N          &lt 2 M      &kp COMMA  &kp DOT  &hm RIGHT_SHIFT FSLH
&kp LCMD          &kp SPACE                                                                                 &kp RET  &kp ESCAPE
            >;
        };

        numbers {
            bindings = <
&kp TAB         &none  &none  &kp LG(LS(N4))  &none    &kp N1  &kp N2  &kp N3  &kp MINUS  &kp EQUAL
&none           &none  &none  &none           &none    &kp N4  &kp N5  &kp N6  &kp SEMI   &kp SQT
&kp LEFT_SHIFT  &none  &none  &none           &none    &kp N7  &kp N8  &kp N9  &kp N0     &none
&kp LGUI        &none                                                          &none      &none
            >;
        };

        symbols {
            bindings = <
&kp TAB         &kp K_PREVIOUS  &kp UP    &kp K_NEXT        &kp K_MUTE            &kp EXCL       &kp AT_SIGN   &kp HASH              &kp MINUS              &kp PLUS
&kp GRAVE       &kp LEFT        &kp DOWN  &kp RIGHT         &kp K_VOLUME_UP       &kp DOLLAR     &kp PERCENT   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DEL
&kp LEFT_SHIFT  &none           &none     &kp K_PLAY_PAUSE  &kp K_VOLUME_DOWN2    &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&kp LGUI        &none                                                                                                                &kp RIGHT_ALT          &none
            >;
        };
    };
};
